{% extends 'base.html.twig' %}

{% block title 'Mélangeur de vers' %}

{% block body %}

   
        

    <div class="absolute | w-56 left-0 top-0 | px-4 py-4 | pointer-events-none">
        <div class="mt-20 | pointer-events-auto">
        <div class="mb-3" {{ react_component('Select', {}) }}></div>
        <div {{ react_component('Button', {'text': 'Mélanger', 'classes': 'bg-green-400 text-white w-full'}) }}></div>
        </div>
    </div>
         
    <div>
        <h1> Mélangeur de vers</h1>
        <p>Sélectionnez les poètes.esses que vous souhaitez mélanger.</p>
        <small>{{ pluralize(poets|length, 'poète') }}</small>
        
        {% for poet in poets %}
            <div>
                <div {{ react_component('List', 
                    { 
                        'fullName': poet.fullName , 
                        'description': poet.description,
                        'link': path('app_poets_show', {id: poet.id}) 
                    }) 
                }}></div>
            </div>
        {% endfor %}
    </div>
    <div {{ react_component('Panel',  {
        'content' : 'Mon contenu mis à jour ici'
    }) }}></div>


{% endblock %}
